#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$R0UUcGEHLiN7/tnh$wt44VJ5IWkv/Br4jP9NYGaRbnsdCbQD1Ago9mTgOKX4/HTWC.VXWGsUJP8E96dtqACP4l/Fjr.us.bLsm0Jz9.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=c5214191 --password=$6$0JQIhuctczVCHCXY$5PryW4RJVEuTFFNKwH63Hy93IA6TtTQUA4R8ku6tduBXQtd.JDTQFXV0ci9iYYPZ8V6WlrwQ7/hHh6Bp3nis2/ --iscrypted --gecos="c5214191"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
